@media only screen and (min-width: 768px) {
    #search_responsive{
      display: none;
    }
}
#search_responsive{
  padding-top: 10vh;
}
#results{
  padding:10vh;
}

#change-log p{
  font-family: monospace;
}

#change-log{
  background-image: linear-gradient(315deg, #d3d3d3 0%, #57606f 74%);
  padding: 5vh;
}
#v-title{
  padding: 4vh;
  color: white;
}

.version-card{
  margin: 5vh;
}

.version-card:hover{
  transform: scale(1.05);
}

#nav{
  z-index: 1;
}

#main_nav .navbar{
  background-image: none;
}
#wrap{
  padding-top: 30vh;
  height: 100vh;
  background: linear-gradient(to bottom right, rgba(49, 49, 49, 1) -20%, rgba(109, 173, 219, 0.8) 230.52%), url('./components/images/background.jpg') no-repeat fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#logo_main{
  text-align: center;
}
