#search{
  border-radius: 5vh;
  width: 50vh;
  margin: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#results{
  padding:10vh;
}

html,
#home{
  height: 100%;
  background: linear-gradient(to bottom right, rgba(49, 49, 49, 0.9) 0.48%, rgba(34, 52, 174, 0.8) 73.52%), url('images/background.jpg') no-repeat fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


#logo_main{
  text-align: center;
  margin-top: 10vh;
}
