.navbar{
  background-image: linear-gradient(315deg, #d3d3d3 0%, #57606f 74%);
}


.btn{
  border-color: white;
  color: white;
}

@media only screen and (max-width: 768px) {
    .nav_search{
      display: none;
    }
}
